   <%- include('partials/_header.ejs') -%>
  <%- include('partials/_navigation.ejs') -%>
   <section class="page-section mt-5" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                     <div id="resultMessage" style="margin-top: 1rem; "></div>
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" method="POST " action="/contact"  
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                         <button class="btn btn-primary btn-xl " id="submitButton" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script>
            
    document.addEventListener('DOMContentLoaded', function()  {

        const form = document.getElementById('contactForm');
        form.addEventListener('submit', function (e) {
         e.preventDefault();
        const formData = new FormData(form);

    fetch('/contact/sendMessage', {
      method: 'POST',
      body: formData
    })
    .then(message => {
      // Buraya gelen yanıt DOM’a yazdırılır
      const resultEl = document.getElementById('resultMessage');
      resultEl.textContent = "Message sent succesfully";
      resultEl.style.color = "green";
      resultEl.style.fontSize = "2em";
      form.reset();
    })
    .catch(error => {
      const resultEl = document.getElementById('resultMessage');
      resultEl.textContent = "Somethimg went wrong.";
      resultEl.style.color = "red";
      resultEl.style.fontSize = "2em";
      console.error("Hata:", error);
    });
  
  });
 })

            </script>

    <%- include('partials/_footer.ejs') -%>